In [6]:
import pandas as pd
from math import sqrt
import numpy as np
df = pd.read_csv('PAD_09_PD.csv', sep=';')
#df.rename(columns={"Annual Income (k$)":"Income"},inplace=True)
df

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0      Male   19                  15                      39
1      Male   21                  15                      81
2    Female   20                  16                       6
3    Female   23                  16                      77
4    Female   31                  17                      40
..      ...  ...                 ...                     ...
195  Female   35                 120                      79
196  Female   45                 126                      28
197    Male   32                 126                      74
198    Male   32                 137                      18
199    Male   30                 137                      83

[200 rows x 4 columns]

In [7]:
df_male = df[df['Gender']=='Male'].reset_index()
df_male.drop(columns=['index','Age','Spending Score (1-100)'],inplace=True)

df_male_mean = df_male['Annual Income (k$)'].mean()
df_male_std = (df_male['Annual Income (k$)']).std()
df_male_no = len(df_male)
df_male_no

df_female = df[df['Gender']=='Female'].reset_index()
df_female.drop(columns=['index','Age','Spending Score (1-100)'],inplace=True)

df_female_mean = df_female['Annual Income (k$)'].mean()
df_female_std = (df_female['Annual Income (k$)']).std()
df_female_no = len(df_female)

print(df_male_mean,df_male_std, df_male_no, df_female_mean,df_female_std,df_female_no)

62.22727272727273 26.638373182494128 88 59.25 26.01195151505595 112

In [8]:
ttt = (df_male_mean - df_female_mean)/(sqrt((df_male_std**2/df_male_no)+(df_female_std**2/df_female_no)))
ttt

0.7927442280257678

In [9]:
import scipy.stats
p_value = scipy.stats.t.sf(abs(ttt), df=df_male_no)*2
p_value

0.4300589288693557

In [10]:
#Odpowiedź
print(p_value > 0.05)
print("Nie możemy odrzucić hipotezy zerowej. Wartości zarobków nie odbiegają od siebie")

True
Nie możemy odrzucić hipotezy zerowej. Wartości zarobków nie odbiegają od siebie